[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
asyncpg = "*"
sqlalchemy = "*"
python-dotenv = "*"
pydantic = "*"
alembic = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.9"
